@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

@*@section CustomStyles{
    <link rel="stylesheet" href="~/lib/datatables/datatables.bundle.css" />
}
*@
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h2 class="card-label">Categories</h2>
        </div>
        <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-md btn-primary font-weight-bold js-modal" data-title="Add Category" data-url="/Categories/Create">
                <i class="bi bi-plus-circle me-1"></i>Add
            </a>
        </div>
    </div>
    <div class="card-body" id="DataTable_wrapper">
        @if (!Model.Any())
        {
            <div class="alert alert-warning pb-2" role="alert">
                <h4 class="pt-1">No Category Found!</h4>
            </div>
        }
        else
        {
            <table style="font-size:1.2rem;" id="DataTable" class="table table-striped">
                <thead>
                    <tr style="font-weight:600">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">CreatedOn</th>
                        <th scope="col">ModifiedOn</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <span class="badge rounded-pill text-bg-@(item.IsActive ? "success" : "danger") js-toggle-badge">
                                    @(item.IsActive ? "Available" : "Deleted")
                                </span>
                            </td>
                            <td>@item.CreatedOn</td>
                            <td class="js-modified-on">@item.ModifiedOn</td>
                            <td>
                                <a class="js-modal" href="javascript:;" data-title="Edit Category" data-url="/Categories/Edit/@item.Id">
                                    <i style="font-size:1.3rem" class="bi bi-pencil-square "></i>
                                </a>
                            </td>
                            <td>
                                <a class="ms-2 js-toggle-delete" href="javascript:;" data-id="@item.Id">
                                    <i style="font-size:1.3rem" class="bi bi-x-circle text-danger"></i>
                                </a>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        }
    </div>
</div>

@Html.AntiForgeryToken()

@*@section CustomScripts{
    <script src="~/lib/datatables/datatables.bundle.js"></script>
}*@
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            //StartDataTable//

            //$('#DataTable').DataTable()

            //var table = $('#DataTable').DataTable({
            //    lengthChange: false,
            //    buttons: ['copy', 'excel', 'pdf', 'colvis']
            //});

            //table.buttons().container()
            //    .appendTo('#DataTable_wrapper .col-md-6:eq(0)');

            //EndDataTable//

            $('.js-toggle-delete').click(function () {

                let Category = $(this);
                let Categoryid = $(this).data('id');

                bootbox.confirm({
                    title: 'Delete Category',
                    message: 'Are You Sure You Want To do This ?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {

                        if (result) {
                            $.ajax({
                                url: "/Categories/ToggleStatus",
                                data: {
                                    id: Categoryid,
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                type: "POST",
                                success: function (ModifiedOn) {
                                    var status = Category.parents('tr').find('.js-toggle-badge');
                                    var newStatus = status.text().trim() === 'Deleted' ? 'Available' : 'Deleted';
                                    status.text(newStatus).toggleClass('text-bg-success text-bg-danger');

                                    Category.parents('tr').addClass("animate__animated ");
                                    Category.parents('tr').toggleClass("animate__shakeX");

                                    Category.parents('tr').find('.js-modified-on').html(ModifiedOn);

                                },
                                error: function () {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                });
            });

        });
    </script>
}











