@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">Categories</h3>
        </div>
        <div class="card-toolbar">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-md btn-primary font-weight-bold">
                <i class="bi bi-plus-circle me-1"></i>Add
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="alert alert-warning pb-2" role="alert">
                <h4 class="pt-1"> No Category Found!</h4>
            </div>
        }
        else
        {

            <table style="font-size:1.2rem;" class="table table-striped">
                <thead>
                    <tr style="font-weight:600">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">CreatedOn</th>
                        <th scope="col">ModifiedOn</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <span class="badge rounded-pill text-bg-@(item.IsActive ? "success" : "danger")">
                                    @(item.IsActive ? "Available" : "Deleted")
                                </span>
                            </td>
                            <td>@item.CreatedOn</td>
                            <td>@item.ModifiedOn</td>
                            <td>
                                <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id">
                                    <i style="font-size:1.3rem" class="bi bi-pencil-square "></i>
                                </a>
                            </td>
                            <td>
                                <a class="ms-2" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">
                                    <i style="font-size:1.3rem" class="bi bi-x-circle text-danger"></i>
                                </a>

                                @*<div class="form-check form-switch">
                        <a class="ms-2" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">
                        <input class="form-check-input" type="checkbox" @(item.IsActive ? "Checked" : "")>
                        <i class="form-check-input" type="checkbox" @(item.IsActive ? "Checked" : "")></i>
                        </a>
                        </div>*@

                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>

        }
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a href="#" class="btn btn-light-primary font-weight-bold">Manage</a>
        <a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a>
    </div>
</div>











